body {
  background: -webkit-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%); 
  background:    -moz-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%); 
  background:     -ms-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
  background:      -o-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
  background:         linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
}


html, body, .containerBody, .navbar{
	font-family: 'Roboto', sans-serif;
}

h1{
	padding-top: 20px;
}


.containerBody{
	background: url(cream_dust.png) repeat 0 0;
}

.margin-bottom {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 40px;
}


.footer {
	padding-top: 0;
	font-size: 90%;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}

.btn {
	white-space: normal;
}

.card-block {
	font-size: 120%;
}