body {
  background: -webkit-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%); 
  background:    -moz-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%); 
  background:     -ms-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
  background:      -o-linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
  background:         linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
}


html, body, .containerBody, .navbar{
	font-family: 'Roboto', sans-serif;
}

h1{
	padding-top: 20px;
}


.containerBody{
	background: url(cream_dust.png) repeat 0 0;
}

#curData{
	text-align: center;
}

.btn-group{
}

#containerGraph{
	width: 100%;
	height: 44em;
}

.footer {
	padding-top: 0;
	font-size: 90%;
}

.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
}